services:
  api-db:
    image: "postgres:18.1-alpine3.23"
    ports:
      - "5432:5432"
    volumes:
      - "api-vol:/var/lib/postgresql"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-api}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-api}
      POSTGRES_DB: ${POSTGRES_DB:-api_db}
    healthcheck:
        test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}']
        interval: 5s
        timeout: 5s
        retries: 10
    restart: unless-stopped

volumes:
  api-vol: